<h1>Display a Schedule</h1>
<p>
	<table border="1">
		<b><tr>
			<td>Date</td><td>Time</td><td>Home</td><td>Visitor</td><td>Location</td>
		</tr></b>

	</table>
	</h2>
</p>
<p><small>Schedule created at: Not yet</small></p>